# This is a basic workflow to help you get started with Actions

name: My Weather Reminder

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: '0 21 * * *'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    # Runs a single command using the runners shell
    - name: Run a one-line script
      run: bash ./weather.sh
    

    - name: 'Get Date'
      run: echo "REPORT_DATE=$(TZ=':Asia/Shanghai' date '+%Y-%m-%d %T')" >> $GITHUB_ENV
    - name: 'Send mail'
      uses: dawidd6/action-send-mail@v2.2.3
      env:
        REPORT_DATE: $(TZ=':Asia/Shanghai' date '+%Y-%m-%d %T')
      with:
          server_address: smtp.gmail.com
          server_port: 587
          username: ${{ secrets.USERNAME }} 
          password: ${{ secrets.PASSWORD }}
          subject: HeBei Weather Report (${{ REPORT_DATE }} )
          # Literal body:
   
          # Read file contents as body:
          body: file://result.html
          to: 1835304752@qq.com
          from: 今日天气
          content_type: text/html
        
